@model PagedList.IPagedList<Enuo.UniversityProject.Areas.Admin.Models.InstructorModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AceAdminLayout.cshtml";
}

<div class="modal-body no-padding">
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <caption class="table-header center bolder">Instructor Table</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>@Html.ActionLink("Name", "Index")</th>
                    <th>BirthDate</th>
                    <th>Sex</th>
                    <th>HireDate</th> 
                    <th>Department</th> 
                    <th>Operator</th>
                </tr>
            </thead>

            <tbody id="datatable">
                @foreach (var item in Model)
                {
                    <tr id="row-@item.Id">
                        <td>@Html.DisplayFor(x => item.Id)</td>
                        <td>@Html.DisplayFor(x => item.FullName)</td>
                        <td>@Html.DisplayFor(x=>item.BirthDay)</td>
                        <td>@Html.DisplayFor(x=>item.Sex)</td>
                        <td>@Html.DisplayFor(x => item.HireDate)</td>
                        <td></td>
                        <td class="td-actions">
                            <div class="hidden-phone visible-desktop action-buttons">
                                @*<a class="blue" href="@Url.Action("Details",new { id=item.DepartmentID})">
                                        <i class="icon-zoom-in bigger-130">Detail</i>
                                    </a>*@
                                <a class="green" href="@Url.Action("Edit",new { id=item.Id})">
                                    <i class="icon-pencil bigger-130">Editor</i>
                                </a>
                                <a data-id="@item.Id" class="red" href="#">
                                    <i class="icon-trash bigger-130">Delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model != null)
        {  @Html.Partial("_AcePagination")}
    </div>
</div>
